{% extends 'base.html' %}


{% block content %}

<div class="about" id="about">
  <h3 class="name">Mustafa Kamil</h3>
  <p id="pabout"><span>Welcome! I’m, a passionate learner with a focus on computer science </span><br>and
      problem-solving. Currently, I'm diving deep into Harvard's CS50x course, where I’m
      building a strong foundation in programming, algorithms, and computational thinking. My goal is to
      leverage my skills to develop creative and efficient solutions in tech.
  </p>
  <a class="Connect" href="mailto:mustafakamil.77@gmail.com" class="btn btn-secondary" target="_blank">Connect
      With Me</a>
</div>

{% endblock %}
